<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tystnad.works.repository.mapper.SysOrganizationVOMapper">
    <sql id="whereByDTO">
        WHERE o.deleted = 0
        <if test="dto.orgId != null">
          AND o.org_id = #{dto.orgId}
        </if>
        <if test="dto.topId != null">
          AND o.top_id = #{dto.topId}
        </if>
        <if test="dto.parentId != null">
          AND o.parent_id = #{dto.parentId}
        </if>
        <if test="dto.orgLevel != null">
          AND o.org_level = #{dto.orgLevel}
        </if>
        <if test="dto.orgName != null">
          AND o.org_name LIKE CONCAT(#{dto.orgName},'%')
        </if>
        <if test="dto.enabled != null">
          AND o.enabled = #{dto.enabled}
        </if>
        <if test="dto.updater != null">
          AND o.updater = #{dto.updater}
        </if>
        <if test="dto.creator != null">
          AND o.creator = #{dto.creator}
        </if>
        <if test="dto.createTimeStart != null">
          AND o.create_time <![CDATA[>=]]> #{dto.createTimeStart}
        </if>
        <if test="dto.createTimeEnd != null">
          AND o.create_time <![CDATA[<=]]> #{dto.createTimeEnd}
        </if>
        <if test="dto.creatorName != null">
          AND cu.user_name LIKE CONCAT(#{dto.creatorName},'%')
        </if>
        <if test="dto.updaterName != null">
          AND uu.user_name LIKE CONCAT(#{dto.updaterName},'%')
        </if>
    </sql>
    <select id="findByDTO" resultType="tech.tystnad.works.model.vo.SysOrganizationVO">
        SELECT o.org_id, o.top_id, o.parent_id, po.org_name AS parent_name, o.org_level, o.org_name, o.enabled, o.updater, o.creator, o.update_time, o.create_time, cu.user_name AS creator_name, uu.user_name AS updater_name
        FROM sys_organization AS o JOIN sys_organization AS po ON (o.parent_id = po.org_id) JOIN sys_user AS cu ON (o.creator = cu.user_id) JOIN sys_user AS uu ON (o.updater = uu.user_id)
        <include refid="whereByDTO" />
        LIMIT #{page.pos}, #{page.range}
    </select>
    <select id="countByDTO" resultType="java.lang.Integer">
        SELECT COUNT(o.org_id) FROM sys_organization AS o JOIN sys_organization AS po ON (o.parent_id = po.org_id) JOIN sys_user AS cu ON (o.creator = cu.user_id) JOIN sys_user AS uu ON (o.updater = uu.user_id)
        <include refid="whereByDTO" />
    </select>
    <select id="findByParentId" resultType="tech.tystnad.works.model.vo.SysOrganizationTreeVO">
        SELECT top_id, org_id, org_level, org_name FROM sys_organization WHERE top_id = #{top_id} AND parent_id = #{parent_id}
    </select>
</mapper>