<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tystnad.works.repository.mapper.SysRoleVOMapper">
    <select id="findByDTO" parameterType="tech.tystnad.works.model.dto.SysRoleDTO" resultType="tech.tystnad.works.model.vo.SysRoleVO">
        SELECT r.role_id, r.org_id, o.org_name, r.top_id, r.updater, uu.user_name AS updater_name, r.creator, cu.user_name AS creator_name, r.update_time, r.create_time
        FROM works.sys_role AS r JOIN works.sys_user AS cu ON (r.creator = cu.user_id) JOIN works.sys_organization AS o ON (r.org_id = o.org_id) JOIN works.sys_user AS uu ON (r.updater = uu.user_id)
        WHERE r.deleted = 0
        <if test="roleId != null">
            AND r.role_id = #{roleId}
        </if>
        <if test="orgId != null">
            AND r.org_id = #{orgId}
        </if>
        <if test="orgName != null">
            AND o.org_name LIKE CONCAT(#{orgName},'%')
        </if>
        <if test="topId != null">
            AND r.top_id = #{topId}
        </if>
        <if test="updater != null">
            AND r.updater = #{updater}
        </if>
        <if test="updaterName != null">
            AND uu.user_name LIKE CONCAT(#{updaterName},'%')
        </if>
        <if test="creator != null">
            AND r.creator = #{creator}
        </if>
        <if test="creatorName != null">
            AND cu.user_name LIKE CONCAT(#{creatorName},'%')
        </if>
        <if test="createTimeStart != null">
            AND r.create_time <![CDATA[>=]]> #{createTimeStart}
        </if>
        <if test="createTimeEnd != null">
            AND r.create_time <![CDATA[<=]]> #{createTimeEnd}
        </if>
    </select>
</mapper>