<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tystnad.works.repository.mapper.SysUserVOMapper">
    <select id="findByExample" parameterType="tech.tystnad.works.model.dto.SysUserDTO" resultType="tech.tystnad.works.model.vo.SysUserVO">
        SELECT su.user_id, su.org_id, su.top_id, su.user_name, su.role_id, su.nickname, su.email, su.telephone_number, su.user_type, su.enabled, su.create_time, csu.user_name AS creator_name, usu.user_name AS updater_name, so.org_name
        FROM sys_user AS su INNER JOIN sys_organization AS so ON (su.org_id = so.org_id) INNER JOIN sys_user AS usu ON (su.updater = usu.user_id) INNER JOIN sys_user AS csu ON (csu.user_id = su.creator)
        WHERE su.deleted = 0
        <if test="userId != null">
            AND su.user_id = #{userId}
        </if>
        <if test="orgId != null">
            AND su.org_id = #{orgId}
        </if>
        <if test="topId != null">
            AND su.top_id = #{topId}
        </if>
        <if test="userName != null">
            AND su.user_name LIKE CONCAT(#{userName},'%')
        </if>
        <if test="roleId != null">
            AND su.role_id = #{roleId}
        </if>
        <if test="nickname != null">
            AND su.nickname LIKE CONCAT(#{nickname},'%')
        </if>
        <if test="email != null">
            AND su.email = #{email}
        </if>
        <if test="telephoneNumber != null">
            AND su.telephone_number = #{telephoneNumber}
        </if>
        <if test="userType != null">
            AND su.user_type = #{userType}
        </if>
        <if test="enabled != null">
            AND su.enabled = #{enabled}
        </if>
        <if test="createTimeStart != null">
            AND su.create_time <![CDATA[>=]]> #{createTimeStart}
        </if>
        <if test="createTimeEnd != null">
            AND su.create_time <![CDATA[<=]]> #{createTimeEnd}
        </if>
        <if test="creatorName != null">
            AND csu.user_name LIKE CONCAT(#{creatorName},'%')
        </if>
        <if test="updaterName != null">
            AND usu.user_name LIKE CONCAT(#{updaterName},'%')
        </if>
        <if test="orgName != null">
            AND so.org_name LIKE CONCAT(#{orgName},'%')
        </if>
    </select>
</mapper>