<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.tystnad.works.repository.mapper.SysUserVOMapper">
    <sql id="whereBYDTO">
        WHERE u.deleted = 0
        <if test="dto.userId != null">
            AND u.user_id = #{dto.userId}
        </if>
        <if test="dto.orgId != null">
            AND u.org_id = #{dto.orgId}
        </if>
        <if test="dto.orgName != null">
            AND o.org_name LIKE CONCAT(#{dto.orgName},'%')
        </if>
        <if test="dto.topId != null">
            AND u.top_id = #{dto.topId}
        </if>
        <if test="dto.userName != null">
            AND u.user_name LIKE CONCAT(#{dto.userName},'%')
        </if>
        <if test="dto.roleId != null">
            AND u.role_id = #{dto.roleId}
        </if>
        <if test="dto.nickname != null">
            AND u.nickname LIKE CONCAT(#{dto.nickname},'%')
        </if>
        <if test="dto.email != null">
            AND u.email = #{dto.email}
        </if>
        <if test="dto.telephoneNumber != null">
            AND u.telephone_number LIKE CONCAT(#{dto.telephoneNumber},'%')
        </if>
        <if test="dto.userType != null">
            AND u.user_type = #{dto.userType}
        </if>
        <if test="dto.enabled != null">
            AND u.enabled = #{dto.enabled}
        </if>
        <if test="dto.createTimeStart != null">
            AND u.create_time <![CDATA[>=]]> #{dto.createTimeStart}
        </if>
        <if test="dto.createTimeEnd != null">
            AND u.create_time <![CDATA[<=]]> #{dto.createTimeEnd}
        </if>
        <if test="dto.creatorName != null">
            AND cu.user_name LIKE CONCAT(#{dto.creatorName},'%')
        </if>
        <if test="dto.updaterName != null">
            AND uu.user_name LIKE CONCAT(#{dto.updaterName},'%')
        </if>
    </sql>
    <select id="findByDTO" resultType="tech.tystnad.works.model.vo.SysUserVO">
        SELECT u.user_id, u.org_id, o.org_name, u.top_id, u.user_name, u.role_id, u.nickname, u.email, u.telephone_number, u.user_type, u.enabled, u.create_time, u.updater, u.creator, cu.user_name AS creator_name, uu.user_name AS updater_name
        FROM sys_user AS u JOIN sys_organization AS o ON (u.org_id = o.org_id) JOIN sys_user AS uu ON (u.updater = uu.user_id) JOIN sys_user AS cu ON (cu.user_id = u.creator)
        <include refid="whereBYDTO"/>
        LIMIT #{page.pos}, #{page.range}
    </select>
    <select id="countByDTO" resultType="java.lang.Integer">
        SELECT COUNT(u.user_id) FROM sys_user AS u JOIN sys_organization AS o ON (u.org_id = o.org_id) JOIN sys_user AS uu ON (u.updater = uu.user_id) JOIN sys_user AS cu ON (cu.user_id = u.creator)
        <include refid="whereBYDTO"/>
    </select>
</mapper>